/*- Custom style -*/

#nav-menu {
  color: #9AABC0;
}

.icon-color {
  color: #9AABC0
}

.ff-title-color {
  color: #d71460;
}

.ff-header-color{
  color: #EE7F6B;
}

.ff-content-color{
  color: #505050;
}

.ff-date-color{
  color: #828282;
}
// -- Put custom style under this point -- //
