/*- Custom style -*/

#nav-menu {
  color: #9AABC0;
  font: open sans;
}

.icon-color {
  color: #9AABC0
}

.ff-title-color {
  color: #EE7F6B;
  font-family: 'Open Sans', sans-serif;
}

.ff-header-color{
  color: #EE7F6B;
  font: avenir roman;
  font-weight: normal;
}

.ff-content-color{
  color: #828282;
  font: open sans;
}

.ff-date-color{
  color: #B6B6B6;
  font: open sans;
}

.in-article-title-color{
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
// -- Put custom style under this point -- //
