/*- Custom style -*/
.ff_footer {
  height: 30px;
}

#menu {
  color: #9AABC0;
}

<<<<<<< HEAD
.ff-title-color {
  color: 717477;
=======
h2 {
  color: #717477;
>>>>>>> 77f0a3d8e1d3fe9f6b155ddf1486c381e7f9e115
}
// -- Put custom style under this point -- //
